<p id="notice"><%= notice %></p>

<p>
  <b>Hospital:</b>
  <%= @accident_assignee_expense.hospital %>
</p>

<p>
  <b>Repair estimate:</b>
  <%= @accident_assignee_expense.repair_estimate %>
</p>

<p>
  <b>Paid by:</b>
  <%= @accident_assignee_expense.paid_by %>
</p>

<p>
  <b>Remarks:</b>
  <%= @accident_assignee_expense.remarks %>
</p>


<%= link_to 'Edit', edit_accident_assignee_expense_path(@accident_assignee_expense) %> |
<%= link_to 'Back', accident_assignee_expenses_path %>
