<h1>Listing assignees</h1>

<table>
  <tr>
    <th>Vehicle</th>
    <th>Direct line</th>
    <th>Tel no</th>
    <th>Designation</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Firstname</th>
    <th>Surname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignees.each do |assignee| %>
  <tr>
    <td><%= assignee.vehicle %></td>
    <td><%= assignee.direct_line %></td>
    <td><%= assignee.tel_no %></td>
    <td><%= assignee.designation %></td>
    <td><%= assignee.email %></td>
    <td><%= assignee.mobile %></td>
    <td><%= assignee.firstname %></td>
    <td><%= assignee.surname %></td>
    <td><%= link_to 'Show', assignee %></td>
    <td><%= link_to 'Edit', edit_assignee_path(assignee) %></td>
    <td><%= link_to 'Delete', assignee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignee', new_assignee_path %>
