<div class="container">
  <div class="container_header">
    <h3>Battery logs</h3>
  </div>
    <div class="container_body">
  <div id="buttons_section">
    <%= link_to "New Battery Replacement", new_fleet_vehicle_battery_path(@fleet,@vehicle), :class => "button" %>    
  </div>
  <div style="clear:both">&nbsp;</div>  
      <%= render :partial => "vehicles/vehicle_summary" %>
  <table class="index">
    <tr class="yellow">
      <th style="width:100px">Replacement Date</th>
      <th>Odometer Reading</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Size</th>
      <th>Supplier</th>
      <th>Amount Paid</th>
      <th>Remarks</th>
    </tr>        
    <% @batteries.each do |battery| %>
      <tr>
        <td style="width:90px"><%= battery.replacement_date.strftime("%d-%b-%y") %></td>
        <td><%= round_off(battery.odometer_reading,2) %> Km</td>
        <td><%= battery.brand %></td>
        <td><%= battery.model %></td>
        <td><%= battery.size %></td>
        <td><%= battery.supplier %></td>
        <td><%= round_off(battery.amount,2) %></td>
        <td><%= battery.remarks %></td>
        <td><%= link_to "Delete", fleet_vehicle_battery_path(@fleet, @vehicle, battery), :method => :delete, :confirm => "Are you sure you want to delete this battery record?"%></td>
      </tr>  
    <% end %>

  </table>
  <br>
  <table border=1>
  <tr>
    <th>YEAR-TO-DATE BATTERY EXPENSES</th>
    <td>PHP <%= round_off(@vehicle.batteries.this_year.sum(:amount),2)%></td>
  </tr>
  <tr>  
    <th>BATTERY EXPENSES FOR THE MONTH</th>
    <td>PHP <%= round_off(@vehicle.batteries.this_month.sum(:amount),2)%></td>
  </tr>
  <tr>    
    <th>TOTAL BATTERY EXPENSES</th>
    <td>PHP <%= round_off(@vehicle.batteries.sum(:amount),2)%></td>
    
  </tr>
  <tr>    
    <th>BATTERY REPAIR COSTS PER KM</th>
    <td>PHP <%= round_off(@vehicle.batteries.expense_per_km,2) %></td>
  </tr>
  </table>
  </div>
</div>
